export(osf_get_file)
export(osf_find_user)
export(osf_get_project_files)
export(osf_get_projects)
import(XML)
import(RCurl)
import(httr)
import(stringr)
import(downloader)
import(tools)
import(rjson)
import(XLConnect)
